<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- The main keys within the plist dictionary define the types of services and any PlexFrameworkFlags-->
    <!-- The types of services are URL or Search. -->
	<!-- Within each main service key, you must define a dict and a key with the name of the service-->
	<!-- This name should be the same as the name of the folder containing the ServiceCode.pys for that service-->
	<key>Search</key>
        <dict>
            <!-- This defines the name of the search service as "Your Unique Name"-->
            <!-- This is what you name the folder containing the ServiceCode.pys for your Search Service code-->
            <key>Your Unique Name</key>
                <dict/>
        </dict>
    <key>URL</key>
        <dict>
            <!-- This defines the name of the URL service as "Your Unique Name"-->
            <!-- This is what you name the folder containing the ServiceCode.pys for your URL Service code-->
            <key>Your Unique Name</key>
                <dict>
                    <!-- You must set the URL patterns for your URL Service code so Plex knows which URLs to send to this service-->
                    <key>URLPatterns</key>
                        <!-- Within the following array, you can add as many strings as needed to define the possible URL Patterns sent to your URL service-->
                        <!-- You use regular expressions to define your URL Patterns-->
                        <!-- You should use Perl 5 regular expressions for this file-->
                        <array>
                            <!-- This string below is an example that allows any variation of the website's address to be entered -->
                            <!-- Where DOMAINNAME is the base address of the site like yahoo.com, youtube.com, etc. -->
                            <string>http://([^.]+.)?domainname/.+</string> 		
                        </array>
      
            <!-- THE REST OF THE KEYS BELOW ARE OPTIONAL FOR THE URL SERVICE -->
                    <!-- If you do not add a test function to your URL service to find example urls-->
                    <!-- Then you will need to add an example url here to be used for testing-->
                    <key>TestURLs</key>
                        <array>
                            <!-- The URL you use here, must be constant and not change on the website over time-->
                            <!-- If you think this address will be altered or be deleted later -->
                            <!-- it is better to create a test function in your ServiceCode.pys instead -->
                            <string>http://www.anywebsite.com/anyfolder/anyparticularpage.html</string>
                        </array>
                    <!-- If you do not add a test function to your URL service to find example urls-->
                    <key>TestURLs</key>
                        <array>
                            <!-- The URL you use here, must be constant and not change on the website over time-->
                            <!-- If you think this address will be altered or be deleted later -->
                            <!-- it is better to create a test function in your ServiceCode.pys instead -->
                            <string>http://www.anywebsite.com/anyfolder/anyparticularpage.html</string>
                        </array>
            </dict>
        </dict>
    <!-- OPTIONAL PlexFrameworkFlags KEY -->
    <key>PlexFrameworkFlags</key>
        <array>
            <!-- possible values are UseRealRTMP -->	
            <string>UseRealRTMP</string>
        </array>
</dict>
</plist>