<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleIdentifier</key>
            <string>com.plexapp.plugins.plexrequestschannel</string>
        <key>PlexFrameworkVersion</key>       
            <string>2</string>
        <key>PlexClientPlatforms</key>
            <string>*</string>
			
        <!-- DEBUG OPTIONAL KEYS -->
        <key>PlexPluginDebug</key>
        <array>
                <!-- possible values are 0 and 1 -->
                <!-- Setting it to "1" rather than "0" turns on debug logging -->
                <string>1</string>
        </array>
        <key>PlexPluginTesterFlags</key>
            <array>
                <!-- possible values are NoURLServices -->    
                <!--  Makes the Automated Tester more accurate and won't raise an error that Channel X has no associated URL Service because it actually uses URL Service Y -->
                <string>NoURLServices</string>
            </array>
        <key>PlexPluginCodePolicy</key>
            <!-- this allows channels to access some python methods which are otherwise blocked, as well as import external code libraries, and interact with the PMS HTTP API -->    
            <string>Elevated</string>
        <key>PlexPluginMode</key>
            <!-- This one does nothing with a value of Always On, but using a value of "daemon" keeps the plugin alive in the background -->    
            <string>AlwaysOn</string>            
        </dict>
</plist>